<div id="footer">
    <p>* Our most sincere apologies to Mexico, whom we mean no harm or offense. *</p>
    <p>Thankfully The Donald will probably be willing to self-finance a wall to "protect" himself.</p>
</div>
