<div class="header">
    <h2>Exile Trump to Mexico</h3>
</div>
<div class="image">
    {{#if signed}}
    <img src="/Media/Trump-Best-Sombreros.gif" loop=infinite></img>
    {{else}}
    <img src="/Media/Trump-Main.png"></img>
    {{/if}}
</div>
