<div id="signup">
    <div id="donkey">
        <video playsinline autoplay muted loop>
            <source src="Donkey.mp4" type="video/mp4">
        </video>
        <div id="transparency"></div>
    </div>
    <div id="intro">
        <h1>Exile Trump to Mexico</h1>
        <button>Click here to sign the petition</button>
        {{>footer}}
    </div>
</div>
