<!DOCTYPE html>
<html>
<head>
    <title>Karen Nemeth's Portfolio</title>
    <link text="text/css" rel="stylesheet" href="/stylesheet.css"/>
</head>
<body>
    {{#unless home}}
        {{>header}}
    {{/unless}}
    {{{body}}}
    <!-- {{>footer}} -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <script src="/jquery/signaturecanvas.js"></script>
</body>
</html>
