<div id="body">
    <div id="pic">
        <div id="transparency"></div>
        <div id="intro">
            <h1><span class="red">Exile</span><span class="purple"> Trump </span><span class="green">to</span><span class="blue"> Mexico</span></h1>
            <div id="usernavigation">
                <a href="/user/register"><button class="homebutton">Sign Up</button></a>
                <a href="/user/login"><button class="homebutton">Sign In</button></a>
            </div>
        </div>
    </div>
</div>
