<div class="body">
    <div class="form" id="loginform">
        <h3>Log In</h3>
        <div id="message">{{message}}</div>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="text" name="email" placeholder="Email Address"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Submit">
        </form>
        <p>Not registered? <a href="/user/register" id="registerdesired">Click here.</a></p>
    </div>
</div>
