<div id="body">
    <h2>Sign Up Now to Exile Trump to Mexico</h2>
    <p>He threatened to jail a political opponent, overturn freedom of religion and press,
        and all but insured the reversal of the women's rights movement.</p>
    <textarea id="firstname" placeholder="First Name"></textarea>
    <textarea id="lastname" placeholder="Last Name"></textarea>
    <canvas width="500" height="200"></canvas>
    <button id="clear">Clear</button>
    <button id="submit">Submit</button>
</div>
