<div class="body">
    <div class="form">
        <h3><a href="http://politicalhumor.about.com/od/Donald-Trump/a/Donald-Trump-Quotes.htm">All the Reasons You Should Sign Here...</a></h3>
        <div id="message">{{message}}</div>
        <div id="canvas">
            <canvas width="500" height="200"></canvas>
        </div>
        <div id="buttons">
            <button id="clear">Clear</button>
            <button id="submit">Submit</button>
        </div>
    </div>
</div>
