<div class="body">
    <div class="form" id="registerform">
        <h3>Sign Up Now</h3>
        <div id="message">{{message}}</div>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="text" name="firstname" placeholder="First Name"><br>
            <input type="text" name="lastname" placeholder="Last Name"><br>
            <input type="text" name="email" placeholder="Email Address"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Submit">
        </form>
        <p>If you already signed, please <a href="/user/login" id="logindesired">log in.</a></p>
    </div>
</div>
