<div class="body">
    <div class="form" id="signed">
        <h3>Thanks for signing the petition!</h3>
        <p id="message">Please share with your friends!</p>
        <img src={{sigpic}} id="signature"></img>
        <a href="/petition/signatures" id='SeeSigs'>See all {{sigCount}} signatures</a>
        <br>
        <a href="/petition/delete">Delete Signature</a>
        <br>
        <a href="/user/profile/edit">Edit Profile</a>
    </div>
</div>
