<div id="body">
    <h2>Thanks for signing up to Exile Trump to Mexico!</h2>
    <p>Please share with your friends!</p>
    {{>video}}
    <a href="/signatures" id='SeeSigs'>See all {{sigCount}} signatures</a>
</div>
